<h3>Transfer Bitbars</h3>


<form class="pure-form pure-form-stacked" action="post_transfer" method="post">
  <!-- BRAVO defense: added hidden input fields for csrf and hmac -->
  <!-- CSRF token includes an expiry date that should be checked in addition to token itself -->
  <!-- These values are set in router.js -->
  <input type="hidden" id="csrf" name="csrfToken" value="<%= currCsrfToken %>">
  <input type="hidden" id="hmac" name="HMACSig" value="<%= currHmacSig %>">

  <% if(errorMsg) { %>
    <p class='error'> <%- errorMsg %> </p>
  <% } %>

	<p>
		You currently have <%= account.bitbars %> bitbars.
	</p>

  <label for="destination_username">Transfer to</label>
  <input type="text" name="destination_username" value="<%= result.receiver %>">

  <label for="quantity">Amount</label>
  <input type="text" name="quantity" value="<%= result.amount %>"/>

  <p><input type="submit" class="pure-button button-primary" value="Transfer" /></p>
</form>
